{% extends "register_page.html" %}

{% block title %}
    Регистрация
{% endblock %}

{% block content %}

<div class="form">
		<div>
		<form action="{% url 'register_url' %}" method="post">
            {% csrf_token %}
			<label for="">Логин</label>
			<input class="input_user" type="text" name="username">
            <label for="">Email</label>
			<input class="input_user" type="text" name="email">
			<label for="">Пароль</label>
			<input class="input_user" type="password" name="password">
			<input class="inp_sub" type="submit" value="Зарегистрироваться">
		</form>
		</div>
	</div>

{% endblock %}