<div class="container" id="search_menu">
		<div class="row">
			<div class="col-12">
				<h2>Поиск по сайту</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-12">
				<form action="{% url 'list_article_url' %}" method="GET">
					<input class="search sch_inp" id="sch_inp" type="text" name="search" placeholder="Найти материал">
					<button class="search sch_btn"><i class="fas fa-search"></i></button>
				</form>
			</div>
		</div>
		<hr style="border-top: 2px solid #C9C9C9; margin-top: 3rem;">
	</div>