 html, body {
 	height: 100%;
 	margin: 0;
 	padding: 0;
 	overflow: hidden;
 	font-family: Roboto;
 	font-size: 18px;
 }
 body {
 	overflow: auto;
 	background-color: #DAE3EA;

 }

 .form{
 	height: max-content;
    width: 30%;
    position: absolute;
    top: 30%;
    bottom: 30%;
    right: 35%;
    left: 35%;
    padding: 20px;
    background:#f5f5f5;
	box-shadow: 8px 10px 20px rgba(0,0,0,0.5);
    text-align: center;
    display: flex;
    flex-flow: column;
    justify-content: center;

 }

 .input_user{
	display: block;
	margin: auto;
	margin-bottom: 20px;
	width: 50%;
    height: 15%;
 }

 .inp_sub{
 	background:#1D3040;
 	color: white;
 	border: none;
 }

 .inp_sub:hover{
 	background: #5690BF;
 }